<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet-mapping>
        <servlet-name>PDFReportCreator</servlet-name>
        <url-pattern>/PDFReportCreator</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name> index</servlet-name>
        <jsp-file> index.jsp </jsp-file>
    </servlet>
    <servlet>
        <servlet-name>PieChartServlet</servlet-name>
        <servlet-class>com.numerouno.studentanalytics.view.PieChartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HistogramServlet</servlet-name>
        <servlet-class>com.numerouno.studentanalytics.view.HistogramServlet</servlet-class>
        <!--        <multipart-config>
            <location>/tmp</location>
            <max-file-size>20848820</max-file-size>
            <max-request-size>418018841</max-request-size>
            <file-size-threshold>1048576</file-size-threshold>
        </multipart-config>-->
    </servlet>
    <servlet>
        <servlet-name>PDFReportCreator</servlet-name>
        <servlet-class>com.numerouno.studentanalytics.controller.PDFReportCreator</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HistogramServlet</servlet-name>
        <url-pattern>/Histogram</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PieChartServlet</servlet-name>
        <url-pattern>/PieChart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name> index </servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.numerouno.studentanalytics.controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BarChartServlet</servlet-name>
        <servlet-class>com.numerouno.studentanalytics.view.BarChartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BarChartServlet</servlet-name>
        <url-pattern>/BarChart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name> LoginServlet </servlet-name>
        <url-pattern>/dashboard</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CSVFileUploadServlet</servlet-name>
        <servlet-class>com.numerouno.studentanalytics.controller.CSVFileUploadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CSVFileUploadServlet</servlet-name>
        <url-pattern>/upload</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ReportGeneratorServlet</servlet-name>
        <servlet-class>com.numerouno.studentanalytics.view.ReportGeneratorServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReportGeneratorServlet</servlet-name>
        <url-pattern>/ReportGenerator</url-pattern>
    </servlet-mapping>
        <servlet>
        <servlet-name>ReportListServlet</servlet-name>
        <servlet-class>com.numerouno.studentanalytics.controller.ReportListServlet</servlet-class>
    </servlet>

</web-app>
